@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transparent custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* fully transparent */
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.3); /* slightly visible on hover */
  }
  
  /* Firefox support */
  body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  